---
title: Accessibility statement for GOV.UK Forms
layout: govuk
---

<h1 class="govuk-heading-xl">GOV.UK Forms 的無障礙聲明</h1>
<p>這份無障礙聲明只適用於 <a href="https://www.forms.service.gov.uk/">GOV.UK Forms </a>的網站。</p>
<p class="govuk-inset-text">GOV.UK Forms 是 GOV.UK 網站的一部份。 GOV.UK 另有一份 <a href="https://www.gov.uk/help/accessibility-statement">用於 GOV.UK 的無障礙聲明</a>。</p>
<p>這份無障礙聲明要說明：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>本網站的無障礙等級</li>
  <li>我們計畫要作的事情</li>
  <li>如果您在使用上有任何困難，您可以</li>
  <li>如何回報任何關於無障礙設計的問題</li>
</ul>

<h2 class="govuk-heading-m">這個網站應該是</h2>

<p>這個網站由 Government Digital Service （GDS） 所建立。網站設計目的希望能夠盡可能地讓所有人都能無礙地使用。</p>

<p>文字應清晰易懂。</p>

<p>您應該要能：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>放大三倍時，沒有任何問題</li>
  <li>使用鍵盤就能瀏覽大部分網站</li>
  <li>使用語音辨識軟體瀏覽大部分網站</li>
  <li>用螢幕閱讀器就能使用網站的大部分內容（包括最新版本的 JAWS、NVDA 和 VoiceOver）</li>
</ul>

<h2 class="govuk-heading-m">我們如何測試這個網站</h2>

<p>最後一次測試 GOV.UK Forms 的網站是在<time datetime="2022-06-08">2022 年 6 月 8 日</time>。我們使用了 GDS 對網站進行了測試。</p>

<p>GDS 評估 GOV.UK Forms 的網站是否遵照網頁無障礙性指導原則 2.1 版。</p>

<h2 class="govuk-heading-m">如果您在使用上有任何困難，您可以</h2>

<p>如果您在使用此網站遇到了一些困難，歡迎寄信到<a href="mailto:govuk-forms@digital.cabinet-office.gov.uk">govuk-forms@digital.cabinet-office.gov.uk</a>，以聯繫我們。</p>

<h2 class="govuk-heading-m">回報網站在無障礙設計的任何狀況</h2>

<p>我們會不斷改善網站的無障礙程度。</p>

<p>如果您發現任何狀況，或是覺得網站的設計並未符合需求，請來信<a href="mailto:govuk-forms@digital.cabinet-office.gov.uk">govuk-forms@digital.cabinet-office.gov.uk</a>。</p>

<h2 class="govuk-heading-m">如果您對我們的回覆不夠滿意</h2>

<p>平等與人權委員負責執行政府部門 （網站與行動應用程式）（第二號） 無障礙規範（2018 年版） （簡稱「無障礙規範」）.</p>

<p>如果您對回覆內容不夠滿意，請您來信 <a rel="external" href="https://www.equalityadvisoryservice.com/">平等委員會與支持服務</a>，此服務由平等與人權委員會運作。</p>

<h2 class="govuk-heading-m">關於此網站無障礙措施的技術資訊</h2>

<p>GDS 致力於依照 2018 年政府部門（網站與行動應用程式）（第 2 號）無障礙條例，落實其網站的無障礙化。</p>

<h2 class="govuk-heading-m">撰寫這份無障礙聲明</h2>

<p>這份聲明是在 <time datetime="2022-06-08">2022 年 6 月8 日</time>撰寫的。</p>

