---
title: Accessibility statement for GOV.UK Forms
layout: govuk
---

<h1 class="govuk-heading-xl">GOV.UK Forms 無障礙聲明</h1>
<p>這份無障礙聲明只適用於 <a href="https://www.forms.service.gov.uk/">GOV.UK Forms 網站</a>內的資訊。</p>
<p class="govuk-inset-text">GOV.UK Forms 是 GOV.UK 網站的一部份。GOV.UK 另有一份<a href="https://www.gov.uk/help/accessibility-statement">用於 GOV.UK 的無障礙聲明</a>。</p>
<p>這份無障礙聲明闡述了：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>本網站的無障礙程度</li>
  <li>我們計畫要做的事</li>
  <li>如果您在使用上遇到困難，可以做什麼</li>
  <li>如何回報關於無障礙設計的問題</li>
</ul>

<h2 class="govuk-heading-m">這個網站的運作原則</h2>

<p>這個網站是由政府數位服務團隊（GDS）所建立。網站的設計目的是希望盡可能讓所有人都能無礙地使用。</p>

<p>本站中的所有文字皆應清晰易懂。</p>

<p>您應該要能夠：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>把文字放大三倍也能正常閱讀、操作</li>
  <li>使用鍵盤就能瀏覽大部分網站</li>
  <li>使用語音辨識軟體瀏覽大部分網站</li>
  <li>透過螢幕閱讀器（包括最新版本的 JAWS、NVDA 和 VoiceOver）來使用網站的大部分內容</li>
</ul>

<h2 class="govuk-heading-m">我們如何測試這個網站</h2>

<p>最後一次測試 GOV.UK Forms 的網站是在 <time datetime="2022-06-08">2022 年 6 月 8 日</time>。本次測試是由 GDS 執行。</p>

<p>GDS 依照《網頁無障礙指導原則 2.1 版》（WCAG 2.1）來評估 GOV.UK Forms 網站。</p>

<h2 class="govuk-heading-m">如果您使用網站遇到困難，可以做什麼？</h2>

<p>如果您在使用此網站遇到困難，歡迎寄信到 <a href="mailto:govuk-forms@digital.cabinet-office.gov.uk">govuk-forms@digital.cabinet-office.gov.uk</a>，聯絡我們。</p>

<h2 class="govuk-heading-m">回報網站在無障礙設計的狀況</h2>

<p>我們會不斷改善網站的無障礙程度。</p>

<p>如果您發現任何狀況，或覺得網站的設計並未符合需求，請來信 <a href="mailto:govuk-forms@digital.cabinet-office.gov.uk">govuk-forms@digital.cabinet-office.gov.uk</a>。</p>

<h2 class="govuk-heading-m">如果您對我們的回覆不夠滿意</h2>

<p>平等暨人權委員會（EHRC）負責執行政府部門（網站與行動應用程式）（第二號）2018 年版無障礙規範（簡稱「無障礙規範」）。</p>

<p>如果您對回覆內容不夠滿意，請聯絡<a rel="external" href="https://www.equalityadvisoryservice.com/">平等諮詢與支援服務</a>，此服務是由 EHRC 營運。</p>

<h2 class="govuk-heading-m">關於此網站無障礙措施的技術資訊</h2>

<p>GDS 致力遵循政府部門（網站與行動應用程式）（第二號）2018 年版無障礙規範，落實網站的無障礙化。</p>

<h2 class="govuk-heading-m">本無障礙聲明的撰寫時間</h2>

<p>這份聲明是在 <time datetime="2022-06-08">2022 年 6 月 8 日</time>撰寫。</p>

