---
title: "Cookies"
layout: govuk
---

<h1 class="govuk-heading-xl">Cookies</h1>
<p>
  Cookie 是您在訪問網站時，保存在您的手機、平板或電腦上的小檔案。
</p>

<p>
  GOV.UK Forms 的網站並未使用任何 cookies。不過我們的電子郵件服務供應商，在登入頁面會使用 cookies。
</p>

<p>我們會使用 cookies 來幫助 GOV.UK Forms 運作。</p>

<p>
  您可以在<a href="https://ico.org.uk/your-data-matters/online/cookies/">如何管理 cookies</a>中了解更多。
</p>

<h2 class="govuk-heading-l">郵寄清單登錄頁面使用的 cookies</h2>

<p>
  我們使用 Mailchimp 平台來寄送郵件更新通知給所有對 GOV.UK Forms 有興趣的使用者。Mailchimp 在郵件列表的登錄頁面使用 cookies。如需更多資訊，可以參考<a href="https://mailchimp.com/en-gb/legal/cookies">Mailchimp 的 cookie 聲明</a>.
</p>

<h2 class="govuk-heading-l">Essential cookies on GOV.UK Forms</h2>

<p>
  我們會使用必要的 cookies 來幫助 GOV.UK Forms 運作。根據英國法律規定，使用這類 cookies 無須取得使用者同意，為了讓服務能正常使用，我們只使用必要的 cookies。
</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">Purpose</th>
      <th class="govuk-table__header">Expires</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">當瀏覽器被關閉或是登入超過二十個小時</td>
      <td class="govuk-table__cell">用來讓您保持登入狀態</td>
      <td class="govuk-table__cell">
        When the browser is closed or after 20 hours
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">_forms</td>
      <td class="govuk-table__cell">
        用來記住您預覽表單時的進度
      </td>
      <td class="govuk-table__cell">
        When the browser is closed or after 20 hours
      </td>
    </tr>
  </tbody>
</table>
