---
title: "Cookies"
layout: govuk
---

<h1 class="govuk-heading-xl">Cookie</h1>
<p>
  Cookie 是您在訪問網站時，保存在您的手機、平板或電腦上的小檔案。
</p>

<p>
  GOV.UK Forms 產品說明網站未使用任何 cookie。不過我們的電子郵件清單服務業者，在您登記接收服務開放通知時會使用 cookie。
</p>

<p>您可以在<a href="https://ico.org.uk/your-data-matters/online/cookies/">如何管理 cookie</a> 頁面了解更多資訊。</p>

<p>
  Find out <a href="https://ico.org.uk/your-data-matters/online/cookies/">how to manage cookies</a>.
</p>

<h2 class="govuk-heading-l">Cookies on our mailing list sign up page</h2>

<p>
  We use the Mailchimp platform to send email updates to people who register interest in using GOV.UK Forms. Mailchimp uses cookies on the sign up page for the mailing list. For more information you can read the <a href="https://mailchimp.com/en-gb/legal/cookies">Mailchimp cookie statement</a>.
</p>

<h2 class="govuk-heading-l">Essential cookies on GOV.UK Forms</h2>

<p>
  We use essential cookies to make the GOV.UK Forms product work. UK law does not require us to ask for consent for these cookies because they are essential for the service to function.
</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">Purpose</th>
      <th class="govuk-table__header">Expires</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">關閉瀏覽器或是登入 20 個小時後</td>
      <td class="govuk-table__cell">Used to keep you signed in</td>
      <td class="govuk-table__cell">
        When the browser is closed or after 20 hours
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">_forms</td>
      <td class="govuk-table__cell">
        Used to remember your progress when previewing the form
      </td>
      <td class="govuk-table__cell">
        When the browser is closed or after 20 hours
      </td>
    </tr>
  </tbody>
</table>
