---
title: "Cookies"
layout: govuk
---

<h1 class="govuk-heading-xl">Cookie</h1>
<p>
  Cookie 是您在訪問網站時，保存在您的手機、平板或電腦上的小檔案。
</p>

<p>
  GOV.UK Forms 產品說明網站未使用任何 cookie。不過我們的電子郵件清單服務業者，在您登記接收服務開放通知時會使用 cookie。
</p>

<p>您可以在<a href="https://ico.org.uk/your-data-matters/online/cookies/">如何管理 cookie</a> 頁面了解更多資訊。</p>

<p>
  您可以在<a href="https://ico.org.uk/your-data-matters/online/cookies/">如何管理 cookie</a> 頁面了解更多資訊。
</p>

<h2 class="govuk-heading-l">登記郵件清單頁面所使用的 cookie</h2>

<p>
  我們使用 Mailchimp 平台來寄送郵件更新通知給所有對 GOV.UK Forms 有興趣的使用者。Mailchimp 在郵件清單的登錄頁面使用 cookie。如需更多資訊，可以參考 <a href="https://mailchimp.com/en-gb/legal/cookies">Mailchimp 的 cookie 聲明</a>。
</p>

<h2 class="govuk-heading-l">GOV.UK Forms 上必要的 cookie</h2>

<p>
  我們會使用必要的 cookie 來幫助 GOV.UK Forms 運作。根據英國法律規定，使用這類 cookie 無須取得使用者同意，為了讓服務能正常使用，我們只使用必要的 cookie。
</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">姓名</th>
      <th class="govuk-table__header">目的</th>
      <th class="govuk-table__header">過期</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">關閉瀏覽器或是登入 20 個小時後</td>
      <td class="govuk-table__cell">用來讓您保持登入狀態</td>
      <td class="govuk-table__cell">
        關閉瀏覽器或是登入 20 個小時後
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">_forms</td>
      <td class="govuk-table__cell">
        用來記住您預覽表單時的進度
      </td>
      <td class="govuk-table__cell">
        關閉瀏覽器或是登入 20 個小時後
      </td>
    </tr>
  </tbody>
</table>
