---
title: "Cookies"
layout: govuk
---

<h1 class="govuk-heading-xl">Cookies</h1>
<p>
  Cookie 是您在訪問網站時保存在您的手機、平板或電腦上的小型檔案。
</p>

<p>
  GOV.UK Forms 的網站並未使用任何 cookies。不過我們的電子郵件服務供應商在登入頁面會使用 cookies。
</p>

<p>我們會使用 cookies 使 GOV.UK Forms 得以運作。</p>

<p>
  您可以在 <a href="https://ico.org.uk/your-data-matters/online/cookies/">如何管理 cookies</a>中了解更多。
</p>

<h2 class="govuk-heading-l">我們在郵件列表登入頁面使用 cookies</h2>

<p>
  我們使用 Mailchimp 平台來寄送郵件更新通知給所有對 GOV.UK Forms 有興趣的使用者。Mailchimp 在郵件列表的登入頁面中使用了 cookies。如需更多資訊，您可以參考 <a href="https://mailchimp.com/en-gb/legal/cookies">Mailchimp 使用 cookie 的聲明</a>.
</p>

<h2 class="govuk-heading-l">GOV.UK Forms 上必要的 cookies</h2>

<p>
  我們會使用必要的 cookies 使 GOV.UK Forms 得以運作。根據英國法律規定，使用這類 cookies 無須取得使用者的同意，為了讓服務能正常使用，我們只使用必要的 cookies。
</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">姓名</th>
      <th class="govuk-table__header">目的</th>
      <th class="govuk-table__header">過期</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">_forms_admin_session</td>
      <td class="govuk-table__cell">用來讓您保持登入狀態用</td>
      <td class="govuk-table__cell">
        當瀏覽器被關閉或是登入超過二十個小時
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">_forms</td>
      <td class="govuk-table__cell">
        當您看過此表單後，用來記住您的進度
      </td>
      <td class="govuk-table__cell">
        當瀏覽器被關閉或是登入超過二十個小時
      </td>
    </tr>
  </tbody>
</table>
