---
title: "How GOV.UK Forms works"
description: "The process for creating a form, the features already available and the features we are working on next."
layout: govuk
---

<h1 class="govuk-heading-xl">GOV.UK Forms 如何運作</h1>
<p>
  GOV.UK Forms 是一個讓您可以在 GOV.UK 上輕鬆建立線上表單的全新平台。平台目前正和少數政府夥伴合作開發中。
</p>

<p class="govuk-inset-text">
  如果您想要使用 GOV.UK Forms，可以 <a href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1">在此登記</a>，我們會在本服務可供所有中央政府機關使用時主動通知。
</p>

<h2 class="govuk-heading-l">Creating a form using GOV.UK Forms</h2>

<p>
  您需要取得權限才能使用 GOV.UK Forms。我們正與政府團隊中的部分單位合作開發中。
</p>

<p>以下是使用 GOV.UK Forms 建立表單的步驟。</p>

<ol class="govuk-list govuk-list--number">
  <li>Create a form and give the form a name.</li>
  <li>加入想要詢問的問題到表單中，以收集您需要的資訊。</li>
  <li>
    提供隱私權保護資訊，以及要接收完成的填寫內容的電子郵件地址，並填寫送出表單後要顯示給填表者的說明文字。
  </li>
  <li>Make the form live.</li>
  <li>
    Publish a link to the form on GOV.UK along with any guidance people need to read before they complete the form.
  </li>
  <li>
    填表者送出表單後，表單中輸入的資訊就會直接傳送到您指定的電子郵件地址。
  </li>
</ol>

<h2 class="govuk-heading-l">Features available now</h2>
<p>
  本服務仍在開發中，我們會先聚焦在最簡單且最常用的表單功能。
</p>

<h3 class="govuk-heading-m">加入簡單的問題</h3>

<p>您可以新增下列格式的問題：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>簡答題</li>
  <li>（較長的）問答題</li>
  <li>a date</li>
  <li>a UK address</li>
  <li>身份證字號</li>
  <li>a phone number</li>
  <li>為每個題目加入提示來幫助使用者答覆</li>
  <li>設定選擇性提問</li>
  <li>將問題設定為單選或複選</li>
</ul>

<p>
  填表者完成表單後，會先檢查填寫內容是否符合正確格式。 
</p>

<p>You can also:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>為每一題加入說明文字，幫助填答</li>
  <li>將問題設定為選填</li>
</ul>

<h3 class="govuk-heading-m">
  Forms 使用 GOV.UK 視覺設計系統、元件和樣式
</h3>

<p>
  使用經過測試與無障礙設計，您無須擔心表單的視覺與介面設計。這部分將會與 GOV.UK 自動維持一致。
</p>

<h3 class="govuk-heading-m">提供隱私權保護資訊</h3>

<p>
  To comply with the UK General Data Protection Regulation (UK GDPR), you’ll need to provide a link to privacy information for the people who’ll enter their data into your form.
</p>

<p>
  隱私權保護資訊需要提到您收集資料的目的，以及管理資料的方式。貴單位可能已經公布過此類資訊，例如是隱私權公告，或服務條款中的個人資訊專章。
</p>

<p>
  表單的底部將列出您的隱私權保護資訊連結。
</p>

<h3 class="govuk-heading-m">設定用來接收填寫完成的表單的電子郵件地址</h3>

<p>
  每份表單都需要設定一組電子郵件地址。表單填寫完成後，將寄發到此信箱。表單資料將顯示在電子郵件內文。
</p>

<h3 class="govuk-heading-m">
  使用者可以在送出表單前，再次確認填寫的內容
</h3>

<p>
  使用者完成表單填寫後，會看到摘要頁面，可以在送出表單前，再次檢查並確認他們填寫的內容。如此可以避免他們送出錯誤資訊或缺少資訊。
</p>

<h3 class="govuk-heading-m">
  加入填表者需同意的注意事項宣告
</h3>

<p>
  您可以加入填表者注意事項，在完成表單前，使用者需要確認他們了解並同意宣告內容。 
</p>

<p>
  例如您需要使用者確認他們提供的是正確資訊，或是他們了解提供錯誤資訊的後果。
</p>  

<h3 class="govuk-heading-m">告知使用者接下來會發生什麼事</h3>

<p>
  使用者完成表單後，會在確認頁面顯示送出表單後的相關資訊。如此能幫助他們了解後續流程，並避免不必要的聯絡。
</p>

<h3 class="govuk-heading-m">
  當使用者需要協助時，提供聯絡資訊
</h3>

<p>
  請您至少提供一種聯絡方式，讓填寫表單的使用者遇到問題時能夠聯絡。可以提供電子郵件地址、電話號碼或是網頁網址作為聯絡方式。
</p>

<p>
  聯絡資訊會顯示在表單每一頁的底部。這能幫助使用者完成填寫表單，也在表單有問題時連絡您。
</p>

<h2 class="govuk-heading-l">接下來將開發的功能</h2>

<p>以下是我們正在開發，跟接下來要開發的功能：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>當詢問某些類型個人資料時，啟用自動填入 - 讓使用者能更輕鬆就能回答這些問題</li>
  <li>依照答案跳過特定問題的簡易邏輯設定</li>
  <li>草稿功能 - 這樣您既可以編輯表單，又不會影響已經上線的版本。等變動都修改完成再一次讓整個新版本上線</li>
  <li>使用者管理與權限功能，讓您控制使用者可以或不可以做哪些事</li>
  <li>為複雜的問題加入更長的填寫指南</li>
</ul>

<h2 class="govuk-heading-l">專案更新</h2>

<p>
  本專案還處於開發階段的初期，所以計畫可能會不斷變動。我們會持續更新此網頁，並加入更多細節。
</p>

<p>
  您可以<a href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1">加入我們的郵件清單，訂閱專案進度更新</a>。
</p>
