---
title: "How GOV.UK Forms works"
description: "The process for creating a form, the features already available and the features we are working on next."
layout: govuk
---

<h1 class="govuk-heading-xl">GOV.UK Forms 如何運作</h1>
<p>
  GOV.UK Forms 是一個讓您可以在 GOV.UK 上輕鬆建立線上表單的全新平台。平台目前正和少數政府夥伴合作開發中。
</p>

<p class="govuk-inset-text">
  If you’re interested in using GOV.UK Forms, you can <a href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1">register to get a notification when it's available</a> for all of central government.
</p>

<h2 class="govuk-heading-l">Creating a form using GOV.UK Forms</h2>

<p>
  您需要取得權限才能使用 GOV.UK Forms。我們正與政府團隊合作開發中。
</p>

<p>這些是使用 GOV.UK Forms 建立表單的步驟。</p>

<ol class="govuk-list govuk-list--number">
  <li>Create a form and give the form a name.</li>
  <li>為表單新增提問，以收集您需要的資訊。</li>
  <li>
    Provide privacy information, the email address you want completed forms to be sent to, and details about what will happen after a form is submitted.
  </li>
  <li>Make the form live.</li>
  <li>
    在 GOV.UK 發佈此表單的連結，並附上使用者完成表單前需要檢閱的任何須知。
  </li>
  <li>
    當使用者完成表單，他們在表單中輸入的資訊，會傳送到您指定的電子郵件。
  </li>
</ol>

<h2 class="govuk-heading-l">已可使用的功能</h2>
<p>
  此軟體還在開發中，我們會先聚焦在最簡單且最常用的表單功能。
</p>

<h3 class="govuk-heading-m">加入簡單的提問</h3>

<p>您可以新增各種提問來詢問：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>短文字答覆</li>
  <li>長文字答覆</li>
  <li>a date</li>
  <li>a UK address</li>
  <li>國家保險號碼</li>
  <li>a phone number</li>
  <li>add a hint to a question to help people answer it</li>
  <li>make a question optional</li>
  <li>單選或複選</li>
</ul>

<p>
  當使用者完成表單，會驗證他們的回答是否符合正確的格式。 
</p>

<p>You can also:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>為每個題目加入提示來幫助使用者答覆</li>
  <li>設定選擇性提問</li>
</ul>

<h3 class="govuk-heading-m">
  Forms 使用了 GOV.UK 設計系統規範、元件和型樣
</h3>

<p>
  Using these tested and accessible designs means you do not have to worry about the visual and interface design of your forms. And they’ll automatically look consistent with GOV.UK.
</p>

<h3 class="govuk-heading-m">Provide privacy information</h3>

<p>
  為遵循英國一般資料保護規範（UK GDPR），您需要提供隱私條款的連結給會在表單輸入資料的使用者。
</p>

<p>
  The privacy information needs to include your purposes for collecting the data, and how you'll manage the data. You may already publish this information, for example in a privacy notice or personal information charter.
</p>

<p>
  隱私條款的連結會被加到表單的底部。
</p>

<h3 class="govuk-heading-m">Set the email address for completed forms</h3>

<p>
  每個表單都需要設定一個電子郵件，完成的表單遞交後會寄到此信箱。表單的數據會顯示在電子郵件的內文。
</p>

<h3 class="govuk-heading-m">
  使用者可以在送出表單前，重新檢視他們的答覆
</h3>

<p>
  使用者在表單答覆所有的提問後，會看到摘要頁面。他們可以在送出表單前，重新檢查並確認他們的答覆。如此可以避免他們送出錯誤或是令人誤解的資訊。
</p>

<h3 class="govuk-heading-m">
  Add a declaration for people to agree to
</h3>

<p>
  You can add a declaration that people must confirm they understand and agree to before they submit their completed form. 
</p>

<p>
  您可能會需要新增宣告，例如您需要使用者確認他們的確提供準確的資訊，或是他們了解提供虛假資訊的後果。
</p>  

<h3 class="govuk-heading-m">Tell people what will happen next</h3>

<p>
  使用者完成表單後，會在確認頁面顯示表單遞交後的相關資訊。如此能幫助他們了解後續流程，並避免不必要的聯繫。
</p>

<h3 class="govuk-heading-m">
  Provide contact information for people to get help
</h3>

<p>
  You must provide at least one way for people to get help if they get stuck while filling in your form. It can be an email address, phone number or a link to online help.
</p>

<p>
  聯絡資訊會顯示在表單每一頁的底部。這能幫助使用者成功使用表單，也能了解表單是否有未注意的缺失。
</p>

<h2 class="govuk-heading-l">Features we’re working on next</h2>

<p>These are the features we’re working on now and next:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>當詢問某些類別的個人資料時，啟用自動填入 - 能讓使用者更輕鬆答覆這些提問</li>
  <li>根據答覆來略過提問的簡單邏輯</li>
  <li>有效率地使用草稿功能 - 這樣您既可以編輯表單，又不會影響已經上線的版本，待您確認完所有的變動，新版本才會上線</li>
  <li>使用者管理與權限能夠讓您控制使用者能或不能做的事</li>
  <li>為複雜的提問加入更長的指引</li>
</ul>

<h2 class="govuk-heading-l">Updates</h2>

<p>
  我們還在開發階段的初期，所以我們的計畫可能會不斷變動。我們會持續更新此網頁，並加入更多細節。
</p>

<p>
  您可以<a href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1">加入我們的郵件列表以取得更新</a>.
</p>
