---
title: "Privacy notice: how we use your data"
layout: govuk
---

<h1 class="govuk-heading-xl">隱私公告：我們如何使用您的資料</h1>

<p>最後更新：2022 年 9 月 16 日</p>

<p>
  GOV.UK Forms 讓英國政府的團隊能夠建立線上表單，以收集個人或機構的資訊。
</p>

<p>
  GOV.UK Forms is provided by the Government Digital Service (GDS) which is part of the Cabinet Office.
</p>

<p>
  Organisations that create online forms using GOV.UK Forms are the data controller of personal data they collect using those forms, whilst the Cabinet Office, through GDS, is the data processor. The data controller must tell you about what they are doing with your personal data.
</p>

<p>
  隱私公告會記載英國內閣辦公室作為掌握資料的單位，透過 GOV.UK Forms 的網站和平台，收集並處理了那些個資。
</p>

<p>
  檢閱 <a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053">英國內閣辦公室在公共資料保護註冊處的條目</a>以取得更多資訊。
</p>

<h2 class="govuk-heading-m">Data we collect from you and what we do with it</h2>

<p>
  當您使用 GOV.UK Forms 的服務，您的裝置會傳送您下列的個資：
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>IP address</li>
  <li>web browser and version number</li>
  <li>time zone and language settings</li>
</ul>
<p>We use this information to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>give you the information and web pages you request</li>
  <li>monitor the use of the site for security threats</li>
  <li>
    監測此網站的效能以找出效能較低和 JavaScript 的錯誤
  </li>
</ul>
<p>
  We collect this information in system logs. These logs are stored in Amazon Web Services in Ireland.
</p>
<p>
  We move some of this information to our security and network monitoring tools in Ireland and the USA which are provided by companies acting as our data processors.
</p>

<p>
  We may also use this information to produce anonymised reports about the GOV.UK Forms service. This helps us understand where we can make improvements. We may share this information with the data controller of the form.
</p>

<p>
  If you’re a public sector employee and you request a GOV.UK Forms account we’ll collect your:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>email address</li>
  <li>organisation</li>
</ul>

<p>
  我們將使用這些資料，以確定只有GOV.UK Forms 的合法使用者，能夠使用此服務建立表單。
</p>

<p>
  If you <a href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1">register your interest in using GOV.UK Forms</a> we’ll collect your:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>email address</li>
  <li>organisation</li>
  <li>sell or rent your data to third parties</li>
</ul>

<p>
  We use the Mailchimp platform to send email updates about GOV.UK Forms to you. This involves us sharing your email address with the platform provider, Intuit, as a data processor.
</p>

<p>
  Intuit 作為資料控制者，會透過 Mailchimp 平台收集某些個人資料。例如，您的裝置的技術資訊。想要了解更多的話，您可以檢閱 <a href="https://mailchimp.com/en-gb/legal/cookies/">Mailchimp 的 cookie 條款</a> 以及 <a href="https://www.intuit.com/privacy/statement/">Intuit 的隱私條款</a>.
</p>

<p>
  如果您寫信給 GOV.UK Forms ，我們將會收集您的電子郵件位址，以及您在電子郵件中所記錄的個人資訊。
</p>

<p>The legal basis for processing this data is that it’s necessary:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>to perform a task in the public interest</li>
  <li>in the exercise of our functions as a government department</li>
</ul>

<p>Your personal data may be transferred outside the United Kingdom while being processed by GDS. If this happens, we’ll make sure you’re given the same level of technical and legal protection as you are within the United Kingdom by relying on the UK Government’s data adequacy decisions or by including clauses in contracts that require the recipient to protect the data in accordance with UK standards.</p>

<ul class="govuk-list govuk-list--bullet">
  <li>sell or rent your data to third parties</li>
  <li>share your data with third parties for marketing purposes</li>
</ul>

<p>
  We will share your data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.
</p>

<h2 class="govuk-heading-m">Cookies</h2>
<p>
  We don’t use any cookies on the GOV.UK Forms website. However, Mailchimp uses cookies on the sign up page for our mailing list. We also use cookies to make the GOV.UK Forms platform work. For more information you can <a href="/cookies">read about the cookies we use</a>.
</p>

<h2 class="govuk-heading-m">How long we keep your data</h2>

<p>We will only keep your personal data for as long as:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>that anything inaccurate in your personal data is corrected immediately</li>
  <li>we need it for the purposes listed above</li>
</ul>

<p>This means that we will only hold your personal data for one year.</p>

<p>
  If you have a GOV.UK Forms account, your personal data will be retained while you continue to have an active account.
</p>

<p>
  If you sign up to our mailing list, your personal data will only be retained while you choose to remain on the list.
</p>

<h2 class="govuk-heading-m">Where your data is processed and stored</h2>

<p>
  Your personal data may be transferred outside the United Kingdom while being processed by GDS. If this happens, we’ll make sure you’re given the same level of technical and legal protection as you are within the United Kingdom by relying on the UK Government’s data adequacy decisions or by including clauses in contracts that require the recipient to protect the data in accordance with UK standards.
</p>

<h2 class="govuk-heading-m">Questions and complaints</h2>

<p>
  Contact <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a> if you either:
</p>

<h2 class="govuk-heading-m">Children’s privacy protection</h2>

<p>
  我們了解保護兒童在線上的隱私權的重要性。我們的服務並非設計給十三歲以下的使用者，或刻意提供給十三歲以下兒童使用。我們的政策是不刻意針對任何十三歲以下的使用者收集或管理任何資料。
</p>

<h2 class="govuk-heading-m">What are your rights</h2>

<p>You have the right to request:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>information about how your personal data is processed</li>
  <li>
    a copy of that personal data - this copy will be provided in a structured, commonly used and machine-readable format
  </li>
  <li>
    that anything inaccurate in your personal data is corrected immediately
  </li>
</ul>

<p>You can also:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>raise an objection about how your personal data is processed</li>
  <li>
    request that your personal data is erased if there is no longer a justification for it
  </li>
  <li>
    ask that the processing of your personal data is restricted in certain circumstances
  </li>
</ul>

<p>
  If you have any of these requests, get in contact with our Data Protection Officer - you can find their contact details below.
</p>

<h2 class="govuk-heading-m">Changes to this notice</h2>

<p>
  We may modify or amend this privacy notice at our discretion at any time. When we make changes to this notice, we will amend the last modified date at the top of this page. Any modification or amendment to this privacy notice will be applied to you and your data as of that revision date. We encourage you to periodically review this privacy notice to be informed about how we are protecting your data.
</p>

<h2 class="govuk-heading-m">Questions and complaints</h2>

<p>
  Contact <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a> if you either:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have questions about anything in this document</li>
  <li>think that your personal data has been misused or mishandled</li>
</ul>

<p>You can also contact the Cabinet Office Data Protection Officer.</p>

<p>
  <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a> <br /> Data Protection Officer <br /> Cabinet Office <br /> 70 Whitehall <br /> London SW1A 2AS
</p>

<p>
  If you have a complaint, you can also contact the <a rel="external" href="https://ico.org.uk/">Information Commissioner’s Office</a> (ICO). The ICO is an independent regulator set up to uphold information rights.
</p>

<p>
  Information Commissioner’s Office <br /> <a href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a> <br /> 0303 123 1113 <br /> Wycliffe House <br /> Water Lane <br /> Wilmslow <br /> Cheshire SK9 5AF
</p>
