---
title: "Privacy notice: how we use your data"
layout: govuk
---

<h1 class="govuk-heading-xl">隱私公告：我們如何使用您的數據</h1>

<p>最後更新：2022 年 9 月 16 日</p>

<p>
  GOV.UK Forms 讓英國政府的團隊能夠建立線上表單，以收集個人或機構的資訊。
</p>

<p>
  GOV.UK Forms 是由英國內閣辦公室的政府數位服務團隊（GDS）提供。
</p>

<p>
  使用 GOV.UK Forms 建立線上表單的機構，負責掌握他們的表單所收集的個資，與此同時，英國內閣辦公室的政府數位服務團隊為資料處理者。掌握個資的單位務必告訴您，收集個資的目的。
</p>

<p>
  隱私公告會記載英國內閣辦公室作為掌握資料的單位，透過 GOV.UK Forms 的網站和平台，收集並處理了哪些個資。
</p>

<p>
  檢閱<a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053">英國內閣辦公室在公共資料保護註冊處的條目</a>以取得更多資訊。
</p>

<h2 class="govuk-heading-m">我們向您收集的數據，以及處理數據的方式</h2>

<p>
  當您使用 GOV.UK Forms 的服務，您的裝置會傳送下列個資：
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>IP address</li>
  <li>web browser and version number</li>
  <li>time zone and language settings</li>
</ul>
<p>We use this information to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>提供您要求的資訊與網頁</li>
  <li>監測網站的資安威脅</li>
  <li>
    監測網站效能來辨識低效率和 JavaScript 錯誤
  </li>
</ul>
<p>
  We collect this information in system logs. These logs are stored in Amazon Web Services in Ireland.
</p>
<p>
  我們會將部分資訊送到位於愛爾蘭和美國的資安與網路監測工具，提供工具的公司負責處理我們的數據。
</p>

<p>
  We may also use this information to produce anonymised reports about the GOV.UK Forms service. This helps us understand where we can make improvements. We may share this information with the data controller of the form.
</p>

<p>
  如果您是公務人員，並且想在 GOV.UK Forms 上建立帳號，我們將會收集您的：
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>email address</li>
  <li>organisation</li>
</ul>

<p>
  我們將使用這些資料，來確認只有 GOV.UK Forms 的合法使用者能使用此服務建立表單。
</p>

<p>
  如果您有意願<a href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1">註冊 GOV.UK Forms </a>我們將會收集您的：
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>email address</li>
  <li>organisation</li>
  <li>sell or rent your data to third parties</li>
</ul>

<p>
  我們使用 Mailchimp 平台寄送電子郵件，向您更新 GOV.UK Forms 的最新消息。這需要您分享電子郵件給平台提供者「Intuit」來處理數據。
</p>

<p>
  Intuit 是資料控制者，將透過 Mailchimp 平台收集個人數據。例如，您裝置的技術資訊。如果想了解更多，可以檢閱 <a href="https://mailchimp.com/en-gb/legal/cookies/">Mailchimp 的 cookie 條款</a> 以及 <a href="https://www.intuit.com/privacy/statement/">Intuit 的隱私條款</a>.
</p>

<p>
  如果您寫信給 GOV.UK Forms ，我們將會收集您的電子郵件地址，以及電子郵件中記錄的個人資訊。
</p>

<p>處理這些數據有其必要性且有法律根基：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>to perform a task in the public interest</li>
  <li>以政府部門身分使用我們的功能</li>
</ul>

<p>Your personal data may be transferred outside the United Kingdom while being processed by GDS. If this happens, we’ll make sure you’re given the same level of technical and legal protection as you are within the United Kingdom by relying on the UK Government’s data adequacy decisions or by including clauses in contracts that require the recipient to protect the data in accordance with UK standards.</p>

<ul class="govuk-list govuk-list--bullet">
  <li>將您的數據販售或租給第三方</li>
  <li>將您的數據以行銷目的分享給第三方</li>
</ul>

<p>
  我們只在受法律要求時分享您的數據（舉例來說：法院為了防止詐騙或其他犯罪而命令我們提供數據時）。
</p>

<h2 class="govuk-heading-m">Cookies</h2>
<p>
  我們不會在 GOV.UK Forms 的網站上使用任何 cookies。不過，Mailchimp 會在郵件清單登錄頁面使用 cookies。為了讓產品正常運作，我們也會在 GOV.UK Forms 使用 cookies。若想知道更多資訊，可以<a href="/cookies">瞭解我們所使用的 cookies</a>.
</p>

<h2 class="govuk-heading-m">How long we keep your data</h2>

<p>我們會保留您的個人數據直到：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>法律要求我們要</li>
  <li>因上述理由，我們需要您的數據</li>
</ul>

<p>這表示我們只會保留您的個人數據一年。</p>

<p>
  如果您已擁有 GOV.UK Forms 帳號，只要您未關閉帳號，我們就會留存您的個人數據。
</p>

<p>
  如果您登錄我們的郵件清單，個人資料只在您選擇留在清單才保留。
</p>

<h2 class="govuk-heading-m">您的數據於何處處理與儲存</h2>

<p>
  您的個人數據經政府數位服務團隊處理時，可能會被傳送到英國以外的國家。需要這麼做時，我們會按英國政府資料遵循政策，或在合約加入符合英國標準的數據保護條款來確保您的資料，在技術與法律上都受到與在英國同等級的保護。
</p>

<h2 class="govuk-heading-m">我們如何保護您的數據並確保安全</h2>

<p>
  我們承諾將盡力保護數據的安全。為防止未經授權的存取或資訊揭露，我們從技術層面與組織層面規劃並執行不同程序，來保護有關您的數據（舉例來說，我們使用不同層級的加密機制來保護您的數據）。我們也確保合作的第三方在為我們處理數據時，有相同的義務來確保資料安全。
</p>

<h2 class="govuk-heading-m">Children’s privacy protection</h2>

<p>
  <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a> <br /> Data Protection Officer <br /> Cabinet Office <br /> 70 Whitehall <br /> London SW1A 2AS
</p>

<h2 class="govuk-heading-m">What are your rights</h2>

<p>You have the right to request:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>關於個人數據將如何處理的資訊</li>
  <li>
    一份個人數據的備份 - 備份會使用結構性、常用且可機讀的格式提供
  </li>
  <li>
    不正確的個人數據將立即更正
  </li>
</ul>

<p>You can also:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>針對您個人數據處理的方式提出反對意見</li>
  <li>
    請求在無正當理由需要保存個人數據的情況下將其清除
  </li>
  <li>
    要求限制僅能於特定情況下處理您的個人數據
  </li>
</ul>

<p>
  若您有上述任何請求，請聯絡我們的資料保護專員。以下是他們的連絡資訊。
</p>

<h2 class="govuk-heading-m">此通知的變更</h2>

<p>
  我們可能自行決定修改或增補本隱私權公告。我們修改此公告時，將更新本頁面頂部的「最後更新時間」。對這份隱私權公告所做的任何修改或增補，會在「最後更新時間」生效。我們建議您定期審視最新版的隱私權公告，以了解我們如何保護您的資料。
</p>

<h2 class="govuk-heading-m">Questions and complaints</h2>

<p>
  聯絡<a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a>如果您：
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have questions about anything in this document</li>
  <li>認為您的個人數據被濫用或被處理錯誤</li>
</ul>

<p>您也可以聯絡英國內閣辦公室的數據保護專員。</p>

<p>
  <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a> <br /> 資料保護專員 <br />英國內閣辦公室<br />70 Whitehall<br />倫敦 SW1A 2AS
</p>

<p>
  若想投訴也可聯絡<a rel="external" href="https://ico.org.uk/">資訊專員辦公室</a>（ICO）。ICO 是負責維護數據權利的獨立監管單位。
</p>

<p>
  資訊專員辦公室<br /> <a href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a> <br /> 0303 123 1113 <br /> Wycliffe House <br /> Water Lane <br /> Wilmslow <br /> Cheshire SK9 5AF
</p>
