---
title: "Privacy notice: how we use your data"
layout: govuk
---

<h1 class="govuk-heading-xl">隱私權公告：我們如何使用您的資料</h1>

<p>最後更新：2022 年 9 月 16 日</p>

<p>
  GOV.UK Forms 讓英國政府團隊能夠建立線上表單，以收集個人或機構的資訊。
</p>

<p>
  GOV.UK Forms is provided by the Government Digital Service (GDS) which is part of the Cabinet Office.
</p>

<p>
  Organisations that create online forms using GOV.UK Forms are the data controller of personal data they collect using those forms, whilst the Cabinet Office, through GDS, is the data processor. The data controller must tell you about what they are doing with your personal data.
</p>

<p>
  This privacy notice explains what personal data the Cabinet Office collects and processes as a data controller through the GOV.UK Forms website and platform.
</p>

<p>
  Read <a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053">the Cabinet Office’s entry in the Data Protection Public Register</a> for more information.
</p>

<h2 class="govuk-heading-m">Data we collect from you and what we do with it</h2>

<p>
  When you use the GOV.UK Forms service your device sends information such as your:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>IP address</li>
  <li>web browser and version number</li>
  <li>time zone and language settings</li>
</ul>
<p>We use this information to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>give you the information and web pages you request</li>
  <li>monitor the use of the site for security threats</li>
  <li>
    monitor the performance of the site to identify inefficiencies and JavaScript errors
  </li>
</ul>
<p>
  We collect this information in system logs. These logs are stored in Amazon Web Services in Ireland.
</p>
<p>
  We move some of this information to our security and network monitoring tools in Ireland and the USA which are provided by companies acting as our data processors.
</p>

<p>
  我們可能會將這些資訊去識別化後，用於撰寫 GOV.UK Forms 的相關報告。此資料有助於我們了解有哪些地方能夠改進。我們可能會與各表單的資料控制者分享此資訊。
</p>

<p>
  If you’re a public sector employee and you request a GOV.UK Forms account we’ll collect your:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>email address</li>
  <li>organisation</li>
</ul>

<p>
  We use this data to ensure that only legitimate users of GOV.UK Forms can use it to create forms.
</p>

<p>
  If you <a href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1">register your interest in using GOV.UK Forms</a> we’ll collect your:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>email address</li>
  <li>organisation</li>
  <li>將您的資料販售或租給第三方</li>
</ul>

<p>
  We use the Mailchimp platform to send email updates about GOV.UK Forms to you. This involves us sharing your email address with the platform provider, Intuit, as a data processor.
</p>

<p>
  我們不在 GOV.UK Forms 網站上使用任何 cookie。不過，Mailchimp 會在郵件清單登錄頁面使用 cookie。為了讓產品正常運作，我們也會在 GOV.UK Forms 使用 cookie。若想知道更多資訊，可以<a href="/cookies">瞭解我們使用哪些 cookie</a>。
</p>

<p>
  如果您寫信給 GOV.UK Forms，我們將會收集您的電子郵件地址，以及您在電子郵件中主動提供的個人資訊。
</p>

<p>處理這些資料的法律基礎是因為有下列必要性：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>to perform a task in the public interest</li>
  <li>in the exercise of our functions as a government department</li>
</ul>

<p>您的個人資料經政府數位服務團隊處理時，可能會被傳送到英國以外的國家。需要這麼做時，我們會按英國政府的資料遵循政策，或在合約中加入需符合英國標準的資料保護條款，來確保您的資料在技術與法律上，都受到與在英國國內同等的保護。</p>

<ul class="govuk-list govuk-list--bullet">
  <li>sell or rent your data to third parties</li>
  <li>share your data with third parties for marketing purposes</li>
</ul>

<p>
  We will share your data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.
</p>

<h2 class="govuk-heading-m">Cookies</h2>
<p>
  GOV.UK Forms 產品說明網站不使用任何 cookie。不過，Mailchimp 會在郵件清單登錄頁面使用 cookie。為了讓服務正常運作，我們也會在 GOV.UK Forms 的平台頁面使用 cookie。若想知道更多資訊，可以<a href="/cookies">瞭解我們使用哪些 cookie</a>。
</p>

<h2 class="govuk-heading-m">How long we keep your data</h2>

<p>We will only keep your personal data for as long as:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>依法要求的保存期間為止</li>
  <li>因上述理由，我們需要保存您的資料</li>
</ul>

<p>This means that we will only hold your personal data for one year.</p>

<p>
  If you have a GOV.UK Forms account, your personal data will be retained while you continue to have an active account.
</p>

<p>
  If you sign up to our mailing list, your personal data will only be retained while you choose to remain on the list.
</p>

<h2 class="govuk-heading-m">Where your data is processed and stored</h2>

<p>
  Your personal data may be transferred outside the United Kingdom while being processed by GDS. If this happens, we’ll make sure you’re given the same level of technical and legal protection as you are within the United Kingdom by relying on the UK Government’s data adequacy decisions or by including clauses in contracts that require the recipient to protect the data in accordance with UK standards.
</p>

<h2 class="govuk-heading-m">Questions and complaints</h2>

<p>
  如果您有下列疑慮，歡迎聯絡 <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a>：
</p>

<h2 class="govuk-heading-m">Children’s privacy protection</h2>

<p>
  <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a> <br /> Data Protection Officer <br /> Cabinet Office <br /> 70 Whitehall <br /> London SW1A 2AS
</p>

<h2 class="govuk-heading-m">What are your rights</h2>

<p>You have the right to request:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>information about how your personal data is processed</li>
  <li>
    a copy of that personal data - this copy will be provided in a structured, commonly used and machine-readable format
  </li>
  <li>
    that anything inaccurate in your personal data is corrected immediately
  </li>
</ul>

<p>You can also:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>raise an objection about how your personal data is processed</li>
  <li>
    request that your personal data is erased if there is no longer a justification for it
  </li>
  <li>
    ask that the processing of your personal data is restricted in certain circumstances
  </li>
</ul>

<p>
  If you have any of these requests, get in contact with our Data Protection Officer - you can find their contact details below.
</p>

<h2 class="govuk-heading-m">Changes to this notice</h2>

<p>
  We may modify or amend this privacy notice at our discretion at any time. When we make changes to this notice, we will amend the last modified date at the top of this page. Any modification or amendment to this privacy notice will be applied to you and your data as of that revision date. We encourage you to periodically review this privacy notice to be informed about how we are protecting your data.
</p>

<h2 class="govuk-heading-m">Questions and complaints</h2>

<p>
  Contact <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a> if you either:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have questions about anything in this document</li>
  <li>think that your personal data has been misused or mishandled</li>
</ul>

<p>You can also contact the Cabinet Office Data Protection Officer.</p>

<p>
  <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a> <br /> Data Protection Officer <br /> Cabinet Office <br /> 70 Whitehall <br /> London SW1A 2AS
</p>

<p>
  If you have a complaint, you can also contact the <a rel="external" href="https://ico.org.uk/">Information Commissioner’s Office</a> (ICO). The ICO is an independent regulator set up to uphold information rights.
</p>

<p>
  Information Commissioner’s Office <br /> <a href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a> <br /> 0303 123 1113 <br /> Wycliffe House <br /> Water Lane <br /> Wilmslow <br /> Cheshire SK9 5AF
</p>
