---
title: "Privacy notice: how we use your data"
layout: govuk
---

<h1 class="govuk-heading-xl">隱私權公告：我們如何使用您的資料</h1>

<p>最後更新：2022 年 9 月 16 日</p>

<p>
  GOV.UK Forms 讓英國政府團隊能夠建立線上表單，以收集個人或機構的資訊。
</p>

<p>
  GOV.UK Forms is provided by the Government Digital Service (GDS) which is part of the Cabinet Office.
</p>

<p>
  使用 GOV.UK Forms 建立線上表單的單位是資料控制者，掌握他們透過表單所收集到的個資。同時，英國內閣辦公室的政府數位服務團隊（GDS）是資料處理者。資料控制者必須告訴您個資的收集目的。
</p>

<p>
  隱私權公告會記載英國內閣辦公室作為掌握資料的單位，透過 GOV.UK Forms 的網站和平台，收集並處理了哪些個資。
</p>

<p>
  若需更多資訊，請檢閱<a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053">英國內閣辦公室在公共資料保護註冊處的登記資訊</a>。
</p>

<h2 class="govuk-heading-m">我們向您收集的資料，以及處理資料的方式</h2>

<p>
  When you use the GOV.UK Forms service your device sends information such as your:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>IP address</li>
  <li>瀏覽器與版本號碼</li>
  <li>time zone and language settings</li>
</ul>
<p>我們使用這些資訊來：</p>
<ul class="govuk-list govuk-list--bullet">
  <li>give you the information and web pages you request</li>
  <li>monitor the use of the site for security threats</li>
  <li>
    監測網站效能來改善效率與 JavaScript 錯誤
  </li>
</ul>
<p>
  我們會在系統紀錄中收集這些資訊。這些紀錄會儲存在 Amazon Web Services 的愛爾蘭機房。
</p>
<p>
  我們會將部分資訊送到位於愛爾蘭和美國的資安與網路監測工具，提供工具的業者是我們的資料處理者。
</p>

<p>
  我們可能會使用這些資訊，去識別化後，撰寫關於 GOV.UK Forms 的報告。這有助於我們了解能夠改進的地方。我們可能會與各表單的資料控制者分享此資訊。
</p>

<p>
  If you’re a public sector employee and you request a GOV.UK Forms account we’ll collect your:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>email address</li>
  <li>organisation</li>
</ul>

<p>
  We use this data to ensure that only legitimate users of GOV.UK Forms can use it to create forms.
</p>

<p>
  如果您有意願<a href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1">註冊 GOV.UK Forms</a>，我們將收集您的：
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>email address</li>
  <li>organisation</li>
  <li>將您的數據販售或租給第三方</li>
</ul>

<p>
  我們使用 Mailchimp 平台寄送電子郵件，向您更新 GOV.UK Forms 的最新消息。因此我們需將您的電子郵件地址分享給平台服務業者「Intuit」來處理您的資料。
</p>

<p>
  Intuit 是資料控制者，透過 Mailchimp 平台收集個人資料。例如，您裝置的技術資訊。如果想了解更多，可以檢閱 <a href="https://mailchimp.com/en-gb/legal/cookies/">Mailchimp 的 cookie 條款</a>以及 <a href="https://www.intuit.com/privacy/statement/">Intuit 的隱私條款</a>。
</p>

<p>
  如果您寫信給 GOV.UK Forms ，我們將會收集您的電子郵件地址，以及您在電子郵件中主動提供的個人資訊。
</p>

<p>處理這些資料的法律基礎是因為有下列必需性：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>to perform a task in the public interest</li>
  <li>in the exercise of our functions as a government department</li>
</ul>

<p>您的個人數據經政府數位服務團隊處理時，可能會被傳送到英國以外的國家。需要這麼做時，我們會按英國政府資料遵循政策，或在合約加入符合英國標準的數據保護條款來確保您的資料，在技術與法律上都受到與在英國同等級的保護。</p>

<ul class="govuk-list govuk-list--bullet">
  <li>將您的資料販售或租給第三方</li>
  <li>將您的資料以行銷目的分享給第三方</li>
</ul>

<p>
  我們只在受法律要求時分享您的資料（舉例來說：法院為了防止詐騙或其他犯罪而命令我們提供資料時）。
</p>

<h2 class="govuk-heading-m">Cookie</h2>
<p>
  我們不在 GOV.UK Forms 網站上使用任何 cookie。不過，Mailchimp 會在郵件清單登錄頁面使用 cookie。為了讓產品正常運作，我們也會在 GOV.UK Forms 使用 cookie。若想知道更多資訊，可以<a href="/cookies">瞭解我們使用哪些 cookie</a>。
</p>

<h2 class="govuk-heading-m">How long we keep your data</h2>

<p>我們會保留您的個人資料直到：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>法律要求我們保留</li>
  <li>因上述理由，我們需要您的資料</li>
</ul>

<p>這表示我們只會保留您的個人資料一年。</p>

<p>
  如果您擁有 GOV.UK Forms 帳號，只要您未關閉帳號，我們就會持續保存您的個人資料。
</p>

<p>
  如果您登錄我們的郵件清單，只在您仍留在清單中才會保留您的個人資料，離開時就會清除。
</p>

<h2 class="govuk-heading-m">您的資料於何處處理與儲存</h2>

<p>
  您的個人資料經政府數位服務團隊處理時，可能會被傳送到英國以外的國家。需要這麼做時，我們會按英國政府的資料遵循政策，或在合約中加入需符合英國標準的資料保護條款，來確保您的資料在技術與法律上，都受到與在英國國內同等的保護。
</p>

<h2 class="govuk-heading-m">我們如何保護您的資料並確保安全</h2>

<p>
  我們承諾將盡力保護資料的安全。為防止未經授權的存取或資訊揭露，我們從技術層面與組織層面規劃並執行不同程序，來保護有關您的資料（舉例來說，我們使用不同層級的加密機制來保護您的資料）。我們也確保合作的第三方在為我們處理資料時，有相同的義務來確保資料安全。
</p>

<h2 class="govuk-heading-m">Children’s privacy protection</h2>

<p>
  <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a> <br /> 資料保護專員 <br />英國內閣辦公室<br />70 Whitehall<br />倫敦 SW1A 2AS
</p>

<h2 class="govuk-heading-m">What are your rights</h2>

<p>You have the right to request:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>關於個人資料將如何處理的資訊</li>
  <li>
    一份個人資料的備份 - 備份會使用結構性、常用且可機讀的格式提供
  </li>
  <li>
    立即更正任何不正確的個人資料
  </li>
</ul>

<p>You can also:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>針對您個人資料的處理方式提出反對意見</li>
  <li>
    在無正當理由需要保存的情況下，請求清除您的個人資料
  </li>
  <li>
    要求限制僅能於特定情況下處理您的個人資料
  </li>
</ul>

<p>
  若您有上述任何請求，請聯絡我們的資料保護專員。您可以在本頁底部找到他們的連絡資訊。
</p>

<h2 class="govuk-heading-m">Changes to this notice</h2>

<p>
  We may modify or amend this privacy notice at our discretion at any time. When we make changes to this notice, we will amend the last modified date at the top of this page. Any modification or amendment to this privacy notice will be applied to you and your data as of that revision date. We encourage you to periodically review this privacy notice to be informed about how we are protecting your data.
</p>

<h2 class="govuk-heading-m">Questions and complaints</h2>

<p>
  如果您有下列疑慮，歡迎聯絡 <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a>：
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have questions about anything in this document</li>
  <li>認為您的個人資料被濫用或以錯誤的方式處理</li>
</ul>

<p>您也可以聯絡英國內閣辦公室的資料保護專員。</p>

<p>
  <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a> <br /> Data Protection Officer <br /> Cabinet Office <br /> 70 Whitehall <br /> London SW1A 2AS
</p>

<p>
  若您想投訴，也可聯絡<a rel="external" href="https://ico.org.uk/">資訊專員辦公室</a>（ICO）。ICO 是負責維護資訊權利的獨立監管單位。
</p>

<p>
  Information Commissioner’s Office <br /> <a href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a> <br /> 0303 123 1113 <br /> Wycliffe House <br /> Water Lane <br /> Wilmslow <br /> Cheshire SK9 5AF
</p>
