---
title: "Privacy notice: how we use your data"
layout: govuk
---

<h1 class="govuk-heading-xl">隱私公告：我們如何使用您的資料</h1>

<p>最後更新：2022年9月16日</p>

<p>
  GOV.UK Forms 讓英國政府的團隊能夠建立線上表單，以收集個人或機構的資訊。
</p>

<p>
  GOV.UK Forms 是由英國內閣辦公室下屬的政府數位服務團隊（GDS）提供。
</p>

<p>
  使用 GOV.UK Forms 建立線上表單的機構，負責掌握他們的表單所收集的個資，與此同時，英國內閣辦公室下的政府數位服務團隊為資料處理者。掌握個資的單位務必告訴您，收集個資的目的為何。
</p>

<p>
  隱私公告會記載英國內閣辦公室作為掌握資料的單位，透過GOV.UK Forms的網站和平台，收集並處理了那些個資。
</p>

<p>
  閱讀 <a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053">英國內閣辦公室在公共資料保護註冊處的條目</a>以取得更多資訊。
</p>

<h2 class="govuk-heading-m">我們向您所收集的資訊，以及我們處理這些資訊的方式</h2>

<p>
  當您使用GOV.UK Forms的服務，您的裝置會傳送您下列的個資：
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>IP 位置</li>
  <li>瀏覽器與版本號</li>
  <li>時區與語言設定</li>
</ul>
<p>我們使用這些資訊去：</p>
<ul class="govuk-list govuk-list--bullet">
  <li>給您所要求的資訊與網頁</li>
  <li>監測此網站的資安設定</li>
  <li>
    監測此網站的效能以找出效能較低和JavaScript的錯誤
  </li>
</ul>
<p>
  我們會在系統紀錄中收集這些資訊。這些紀錄會儲存在愛爾蘭的 Amazon Web Services。
</p>
<p>
  我們會將某些資訊送到我們在愛爾蘭和美國的資安與網路監測工具，這些工具是由公司營運，一如政府部門中的資料處理者。
</p>

<p>
  我們可能會使用這些資訊，去個人識別後，撰寫關於 GOV.UK Forms 的報告。這有助於我們了解改進的地方。我們可能會與掌握此表單的控制者分享此資訊。
</p>

<p>
  如果您是公務人員，想在 GOV.UK Forms 上建立帳號，我們將會收集您的：
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>名稱</li>
  <li>電子郵件地址</li>
  <li>組織</li>
</ul>

<p>
  我們將使用這些資料，以確定只有GOV.UK Forms的合法使用者，能夠使用此服務建立表單。
</p>

<p>
  如果您<a href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1">有意願註冊 GOV.UK Forms </a> 我們將會收集您的：
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>電子郵件地址</li>
  <li>組織</li>
  <li>職稱</li>
</ul>

<p>
  我們使用 Mailchimp 的平台寄送電子郵件，向您更新 GOV.UK Forms 的最新消息。這需要您分享電子郵件給平台提供者「Intuit」，以處理資料。
</p>

<p>
  Intuit 作為資料控制者，會透過 Mailchimp 平台收集某些個人資料。例如，您的裝置的技術資訊。想要了解更多的話，您可以閱讀 <a href="https://mailchimp.com/en-gb/legal/cookies/">Mailchimp 的 cookie 條款</a> 以及 <a href="https://www.intuit.com/privacy/statement/">Intuit 的隱私條款</a>.
</p>

<p>
  如果您寫信給 GOV.UK Forms ，我們將會收集您的電子信箱位址，以及您在電子郵件中所記錄的個人資訊。
</p>

<p>處理這些資訊的法律基礎是必要性：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>基於公共利益進行的事務</li>
  <li>以政府部門的身分使用我們的功能</li>
</ul>

<p>我們不會：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>將您的資料販售或租給第三方單位</li>
  <li>將您的資料基於行銷目的分享給第三方單位</li>
</ul>

<p>
  我們只會在依法必須透漏時，分享您的資料（舉例來說：法院為了防止詐騙或其他犯罪而命令我們提供資訊時）。
</p>

<h2 class="govuk-heading-m">Cookies</h2>
<p>
  我們不會在 GOV.UK Forms 的網站上使用任何cookies。不過，Mailchimp 會在我們的郵件列表登入頁面使用 cookies。為了讓產品正常運作，我們也會在 GOV.UK Forms 使用 cookies。更多資訊，您可以<a href="/cookies">瞭解我們所使用的cookies</a>.
</p>

<h2 class="govuk-heading-m">我們會保留您的資料多久</h2>

<p>我們會保留您的個人資料直到：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>法律要求我們需要</li>
  <li>因上述理由我們需要</li>
</ul>

<p>這表示我們只會保留您的個人資料一年。</p>

<p>
  如果您已經擁有 GOV.UK Forms 的帳號，只要您未關閉帳號，我們就會留存您的個人資料。
</p>

<p>
  如果您登入我們的郵件列表，您的個人資料將會依照您的意願留存。
</p>

<h2 class="govuk-heading-m">您的資料於何處處理與儲存</h2>

<p>
  您的個人資料經政府數位服務團隊處理時，可能會被傳送到英國以外的國家。如果需要這麼做的時候，我們會按照英國政府的資料合規政策，或是在合約中加入合乎英國標準的資料保護條款，確保您的資料在技術與法律上，受到與在英國同等級的保護。
</p>

<h2 class="govuk-heading-m">我們如何保護您的資料並確保安全</h2>

<p>
  我們承諾將盡所有可能，盡力保護您的資料安全。為了防止未經授權的存取或資訊揭露，我們從技術層面與組織層面規劃並執行不同程序，來保護所收集到有關您的資料（舉例來說，我們使用不同層級的加密機制來保護您的資訊）。我們也會確保任何合作的第三方，有相同的義務來確保所有經手處理的資料安全。
</p>

<h2 class="govuk-heading-m">兒童隱私權保護</h2>

<p>
  我們了解保護兒童在線上的隱私權的重要性。我們的服務並非設計給 13 歲以下的使用者，或刻意提供給 13 歲以下兒童使用。我們的政策是不刻意針對任何 13 歲以下的使用者收集或管理任何資料。
</p>

<h2 class="govuk-heading-m">您有哪些權利</h2>

<p>您有權請求：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>有關您的個人資料會被如何處理的資訊</li>
  <li>
    一份個資備份 - 這份備份會使用結構性、常見且可機讀的格式提供
  </li>
  <li>
    您的任何個人資料有不準確的情況時，將立即更正
  </li>
</ul>

<p>You can also:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>針對您的個人資料處理方式提出反對意見</li>
  <li>
    若沒有任何正當理由需要保存的話，可請求清除您的個人資料
  </li>
  <li>
    要求限制僅能於特定情況下處理您的個人資料
  </li>
</ul>

<p>
  若您有上述任何請求，請聯絡我們的資料保護官。以下是他們的連絡資訊。
</p>

<h2 class="govuk-heading-m">對此通知的變更</h2>

<p>
  我們可能隨時自行決定修改或增補本隱私權公告。當我們修改此公告時，將更新本頁面頂部的「最後更新時間」。對這份隱私權公告所做的任何修改或增補會在該「最後更新時間」生效。我們建議您定期審視最新版的隱私權公告，以了解我們如何保護您的資料。
</p>

<h2 class="govuk-heading-m">問題與客訴</h2>

<p>
  聯絡 <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a>如果您：
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>對此文件有任何問題</li>
  <li>認為您的個人資料被濫用或被錯誤使用</li>
</ul>

<p>您也可以聯絡英國內閣辦公室的資料保護官。</p>

<p>
  <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a> <br /> 資料保護長 <br />英國內閣辦公室 <br /> 70 Whitehall <br /> 倫敦 SW1A 2AS
</p>

<p>
  若您想投訴，也可聯絡<a rel="external" href="https://ico.org.uk/">資訊專員辦公室</a>（ICO）。ICO 是一個負責維護資訊權利的獨立監管單位。
</p>

<p>
  資訊專員辦公室 <br /> <a href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a> <br /> 0303 123 1113 <br /> Wycliffe House <br /> Water Lane <br /> Wilmslow <br /> Cheshire SK9 5AF
</p>
