---
title: "Privacy notice: how we use your data"
layout: govuk
---

<h1 class="govuk-heading-xl">隱私權公告：我們如何使用您的資料</h1>

<p>最後更新：2022 年 9 月 16 日</p>

<p>
  GOV.UK Forms 讓英國政府團隊能夠建立線上表單，以收集個人或機構的資訊。
</p>

<p>
  GOV.UK Forms 是由英國內閣辦公室的政府數位服務團隊（GDS）提供。
</p>

<p>
  使用 GOV.UK Forms 建立線上表單的單位是資料控制者，掌握他們透過表單所收集到的個資。同時，英國內閣辦公室的政府數位服務團隊（GDS）是資料處理者。資料控制者必須告訴您個資的收集目的。
</p>

<p>
  隱私權公告會記載英國內閣辦公室作為掌握資料的單位，透過 GOV.UK Forms 的網站和平台，收集並處理了哪些個資。
</p>

<p>
  若需更多資訊，請檢閱<a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053">英國內閣辦公室在公共資料保護註冊處的登記資訊</a>。
</p>

<h2 class="govuk-heading-m">我們向您收集的資料，以及處理資料的方式</h2>

<p>
  當您使用 GOV.UK Forms 的服務，您的裝置會傳送下列個資：
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>IP 位址</li>
  <li>瀏覽器與版本號碼</li>
  <li>時區與語言設定</li>
</ul>
<p>我們使用這些資訊來：</p>
<ul class="govuk-list govuk-list--bullet">
  <li>提供您要求的資訊與網頁</li>
  <li>監測網站的資安威脅</li>
  <li>
    監測網站效能來改善效率與 JavaScript 錯誤
  </li>
</ul>
<p>
  我們會在系統紀錄中收集這些資訊。這些紀錄會儲存在 Amazon Web Services 的愛爾蘭機房。
</p>
<p>
  我們會將部分資訊送到位於愛爾蘭和美國的資安與網路監測工具，提供工具的業者是我們的資料處理者。
</p>

<p>
  我們可能會將這些資訊去識別化後，用於撰寫 GOV.UK Forms 的相關報告。此資料有助於我們了解有哪些地方能夠改進。我們可能會與各表單的資料控制者分享此資訊。
</p>

<p>
  如果您是公務人員，並且想在 GOV.UK Forms 上建立帳號，我們將會收集您的：
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>名稱</li>
  <li>電子郵件地址</li>
  <li>機構</li>
</ul>

<p>
  我們將使用這些資料，來確認只有 GOV.UK Forms 的合法使用者能使用此服務建立表單。
</p>

<p>
  如果您有意願<a href="https://service.us12.list-manage.com/subscribe?u=cb74eb9a6898b0e5870fede0a&id=451fe4c1e1">註冊 GOV.UK Forms</a>，我們將收集您的：
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>電子郵件地址</li>
  <li>機構</li>
  <li>將您的資料販售或租給第三方</li>
</ul>

<p>
  我們使用 Mailchimp 平台寄送電子郵件，向您更新 GOV.UK Forms 的最新消息。因此我們需將您的電子郵件地址分享給平台服務業者「Intuit」來處理您的資料。
</p>

<p>
  我們不在 GOV.UK Forms 網站上使用任何 cookie。不過，Mailchimp 會在郵件清單登錄頁面使用 cookie。為了讓產品正常運作，我們也會在 GOV.UK Forms 使用 cookie。若想知道更多資訊，可以<a href="/cookies">瞭解我們使用哪些 cookie</a>。
</p>

<p>
  如果您寫信給 GOV.UK Forms，我們將會收集您的電子郵件地址，以及您在電子郵件中主動提供的個人資訊。
</p>

<p>處理這些資料的法律基礎是因為有下列必要性：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>基於公共利益進行的事務</li>
  <li>以政府部門身分使用我們的功能</li>
</ul>

<p>您的個人資料經政府數位服務團隊處理時，可能會被傳送到英國以外的國家。需要這麼做時，我們會按英國政府的資料遵循政策，或在合約中加入需符合英國標準的資料保護條款，來確保您的資料在技術與法律上，都受到與在英國國內同等的保護。</p>

<ul class="govuk-list govuk-list--bullet">
  <li>隱私權公告：我們如何使用您的資料</li>
  <li>將您的資料以行銷目的分享給第三方</li>
</ul>

<p>
  我們只在受法律要求時分享您的資料（舉例來說：法院為了防止詐騙或其他犯罪而命令我們提供資料時）。
</p>

<h2 class="govuk-heading-m">Cookies</h2>
<p>
  GOV.UK Forms 產品說明網站不使用任何 cookie。不過，Mailchimp 會在郵件清單登錄頁面使用 cookie。為了讓服務正常運作，我們也會在 GOV.UK Forms 的平台頁面使用 cookie。若想知道更多資訊，可以<a href="/cookies">瞭解我們使用哪些 cookie</a>。
</p>

<h2 class="govuk-heading-m">我們會保留您的資料多久</h2>

<p>我們會保留您的個人資料直到：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>依法要求的保存期間為止</li>
  <li>因上述理由，我們需要保存您的資料</li>
</ul>

<p>這表示我們只會保留您的個人資料一年。</p>

<p>
  如果您擁有 GOV.UK Forms 帳號，只要您未關閉帳號，我們就會持續保存您的個人資料。
</p>

<p>
  如果您登錄我們的郵件清單，只在您仍留在清單中才會保留您的個人資料，離開時就會清除。
</p>

<h2 class="govuk-heading-m">您的資料於何處處理與儲存</h2>

<p>
  您的個人資料經政府數位服務團隊處理時，可能會被傳送到英國以外的國家。需要這麼做時，我們會按英國政府的資料遵循政策，或在合約中加入需符合英國標準的資料保護條款，來確保您的資料在技術與法律上，都受到與在英國國內同等的保護。
</p>

<h2 class="govuk-heading-m">問題與客訴</h2>

<p>
  如果您有下列疑慮，歡迎聯絡 <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a>：
</p>

<h2 class="govuk-heading-m">兒童隱私權保護</h2>

<p>
  <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a> <br /> Data Protection Officer <br /> Cabinet Office <br /> 70 Whitehall <br /> London SW1A 2AS
</p>

<h2 class="govuk-heading-m">您有哪些權利</h2>

<p>您有權請求：</p>

<ul class="govuk-list govuk-list--bullet">
  <li>關於個人資料將如何處理的資訊</li>
  <li>
    一份個人資料的備份 - 備份會使用結構性、常用且可機讀的格式提供
  </li>
  <li>
    立即更正任何不正確的個人資料
  </li>
</ul>

<p>You can also:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>針對您個人資料的處理方式提出反對意見</li>
  <li>
    在無正當理由需要保存的情況下，請求清除您的個人資料
  </li>
  <li>
    要求限制僅能於特定情況下處理您的個人資料
  </li>
</ul>

<p>
  若您有上述任何請求，請聯絡我們的資料保護專員。您可以在本頁底部找到他們的連絡資訊。
</p>

<h2 class="govuk-heading-m">此通知的變更</h2>

<p>
  我們可能自行決定修改或增補本隱私權公告。我們修改此公告時，將更新本頁面頂部的「最後更新時間」。對這份隱私權公告所做的任何修改或增補，會在「最後更新時間」生效。我們建議您定期審視最新版的隱私權公告，以了解我們如何保護您的資料。
</p>

<h2 class="govuk-heading-m">問題與客訴</h2>

<p>
  如果您有下列疑慮，歡迎聯絡 <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a>：
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>對此文件有任何問題</li>
  <li>隱私權公告：我們如何使用您的資料</li>
</ul>

<p>您也可以聯絡英國內閣辦公室的資料保護專員。</p>

<p>
  <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a> <br /> Data Protection Officer <br /> Cabinet Office <br /> 70 Whitehall <br /> London SW1A 2AS
</p>

<p>
  若您想投訴，也可聯絡<a rel="external" href="https://ico.org.uk/">資訊專員辦公室</a>（ICO）。ICO 是負責維護資訊權利的獨立監管單位。
</p>

<p>
  Information Commissioner’s Office <br /> <a href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a> <br /> 0303 123 1113 <br /> Wycliffe House <br /> Water Lane <br /> Wilmslow <br /> Cheshire SK9 5AF
</p>
