---
title: "Support"
description: "How to get support for GOV.UK Forms - a new platform for people who work in government to create online forms for GOV.UK"
layout: govuk
---

<h1 class="govuk-heading-xl">支援</h1>
<p>
  GOV.UK Forms 是為了政府人員設計的新平台，能夠在 GOV.UK 上建立線上表單。
</p>

<p class="govuk-inset-text">
  GOV.UK Forms 並不開放給一般民眾使用政府表單。如果您是一般大眾，對政府的表單服務有任何問題，請<a href="https://www.gov.uk/contact">直接聯繫此連結</a>.
</p>

<h2 class="govuk-heading-m">如何聯繫我們</h2>

<p>
  如果您使用 GOV.UK Forms 有任何問題，歡迎寄信到 <a href="mailto:govuk-forms@digital.cabinet-office.gov.uk">govuk-forms@digital.cabinet-office.gov.uk</a>.
</p>

<h2 class="govuk-heading-m">上班時間</h2>

<p>
  我們會在上班時間提供對 GOV.UK Forms 的支援服務。
</p>

<p>
  我們的上班時間為平常日的早上九點到下午五點（國定假日除外）。
</p>

<h2 class="govuk-heading-m">下班時段的支援服務</h2>

<p>
  當 GOV.UK Forms 正在進行封測時，我們不在下班時段提供支援服務。
</p>
